Body{
    height:  97.5%;
    width: 99%;
    background-color: transparent;
    
}
html{
    height: 100%;
    width: 100%;
}

table{
    background-color: transparent;
}
.tbl_main{
    background-color: transparent;
        margin-top: -0.2%;
    
}
.Experince_tbl{
    height: auto;
    background-color: transparent;
    margin-left: 0px;
}
img{
    width: 300px;
    height: 350px;
    vertical-align: middle;
}
td{
    vertical-align: top;
    background-color: transparent;
}

button{
    outline: none;
}

.img-circle{
    border-radius: 50%;
    padding: 15px 8px;
    margin-left: 13px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}
.imgbox1 :hover img{
    transition: all .1s linear;
    box-shadow: 0 2px 0 transparent;
    transform: translateY(5px);
}
#links{

    display: inline-block;
    margin-left: 39%;
    margin-top: 5%
    
}

.links{
	background-color: transparent;
	color: #3e4441;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-family: calibri;
	display: inline-block;
	font-size : 11px;
	border: 5px;
}
#h4 ul button,visited{
	color: #3e4441;
	text-decoration: none;	
} 

#h4 ul button a:hover{
	color: #161513;
    text-decoration: none;
	
}

#h4 ul button:Hover{
	color: White;
    text-decoration: none;
	background-color: #dba30e;
}
#h4 ul:Hover{
	color: blue;
    text-decoration: none;
}
#nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#nav ul button{
	display: inline-block;
} 

#nav ul button:hover{
	background-color: red;
}

#nav ul button:hover ul{
	display: block;
}

p{
    font-size: 1vw;
    font-family: Century Gothic;
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    margin-top: 3%;
    font-size: 1.2vw;
    font-family: Agency FB;
    color: white;
    text-shadow: 0px 1px #003e58, 0px 2px #003e58, 0px 3px #003e58, 0px 4px #003e58, 0px 5px #003e58, 0px 6px #00628B, 0px 6px 0px rgba(1,1,1,0.25), 0px 6px 7px rgba(1,1,1,0.8);

}
h2{
    font-size: 2.1vw;
    font-family: Agency FB;
    text-align: center;
    margin-top: 0vw;
    margin-bottom: 2vw;
    color: #dba30e;
}
.content{
    text-align: center;
    font-size: 1.2vw;
    width: 56vw;
    /* margin-left: 13px; */
    font-family: Century Gothic;
    color: #dba30e;
}
footer{
    margin-left: 360px;
}

.Footer_{
    color: #8a8585;
    text-align: center;
    margin-left: -105px;
    font-size: 12px;
    font-family: Agency FB;
    margin-top: -20px;
}

.Droplinks{
    background-color: transparent;
	color: whitesmoke;
	padding: 8px 124px;
	text-align: center;
	text-decoration: none;
	font-family: calibri;
	display: inline-block;
	font-size : 11px;
	border: 5px;
}
button{
    border: none;
}

#h4 ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
    position: relative;	
}
#h4 ul li{
	display: inline-block;
	font-size: 11px;

    background-color: transparent;
	color: whitesmoke;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-family: calibri;
	display: inline-block;
	border: 5px;
	
}

#h4 ul li:hover{
	background-color:#dba30e;
}

#h4 ul li:hover ul{
display: block;
}
#h4 ul ul{
	display: none;
	position: absolute;
	margin-left: -23px;	
	margin-top: 21px;
	background-color: black;
	min-width: 300px;
}
#h4 ul ul li{
	display: block;
}

.imgbox :hover img{
	transform: scale(2) translateX(1px);
    
}


label{
    font-family: Agency FB;
    font-size: 13px;
}

#Preview {
    height: 355px;
    padding-bottom: 10px;
    margin-top: -10px;
    text-align: center
    }

.thumbnails {
    height: 150px;
    padding: 1px;
}

#thumbnails {
    margin-bottom: 20px;
    min-width: 80%;
    max-width: 100%;
    min-height: 225px;
    max-height: 300px;
}

.gallery {
    text-align: center;
        }


        .thumbnails img {
            height: 135px;
            padding: 45px;
            width: 120px;
        }

            .thumbnails img:hover {
   
                cursor: pointer;
            }

        .preview img {

            padding: 1px;
            width: 400px;
            margin-bottom: 20px;
        }

        #LinkPictures {
            margin: 10px auto 20px;
            width: 80%;
            max-width: 900px;
        }





/* Add a background color and some padding around the form */
.container {
    /* border-radius: 5px; */
    background-color: rgba(242, 242, 242, 0);
    padding: 1%;
    margin-left: 100%;
    width: 40vw;
}

.Cont_div{
    
    vertical-align: middle;
    margin-top: 35px;
    color: #dba30e;
}

.Personal_infor{
    
    background-color: red; 
    width: 15vw;
    height: 47.44vw;
    background-color:#3e4441;
}

.Img_{
    width: 11vw;
    height: auto;
     margin-top: 13%;
    border-radius: 53%;
}
.Img_mobile{
    display: none;
} 



label {
  text-align: center;
  line-height: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  display: block;
}



button {
    width: 7vw;
    height: 38px;
    font-size: 0.8vw;
    color: white;
    background-color: transparent;
    border: none;
}

div.line {
  margin: 5px 0px;
  display: inline;
}

.nav {
    position: relative; 
    width: 53%;
    background-color: transparent;
    margin-bottom: 1%;
}

.start {
  border-radius: 5px 0 0 5px;
}

.mid {
  border-radius: 1px;    
}

.end {
  border-radius: 0 5px 5px 0;  
}

div.button1 {
    position: relative;
    color: #ffffff;
    text-shadow: -1px -2px #003e58;
    padding: 0.8vw 0vw;
    font-family: Century Gothic;
    font-size: 12px;
    top: 0px;
    width: 100%;
    text-align: center;
    background: rgb(68, 71, 69);
    border: solid 1px #343f43;
    border-bottom: solid 10px #2b4554;
    box-shadow: 0 2px 10px rgba(1, 1, 1, 0.25);
    
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  transition:top 0.1s, border-bottom 0.1s, box-shadow 0.1s;
}

div.button1:hover {
  top: 4px;
  border-bottom: solid 6px #003e58;
  box-shadow: 0 1px 10px rgba(1, 1, 1, 0.25);
  
  transition:top 0.1s, border-bottom 0.1s, box-shadow 0.1s; 
}

div.button1:active {
  top: 9px;
  border-bottom: solid 1px #003e58;
  box-shadow: 0 0px 0px rgba(1, 1, 1, 0.25);
  
  transition:top 0.1s, border-bottom 0.1s, box-shadow 0.1s; 
}

div.title {
    font-family: calibri;
    width: 50vw;
    margin: 0vw auto;
    text-align: center;
    font-size: 8vw;
    height: 10vw;
    text-align: center;
    text-shadow: 0px 1px #003e58, 0px 2px #003e58, 0px 3px #003e58, 0px 4px #003e58, 0px 5px #003e58, 0px 6px #00628B, 0px 6px 0px rgba(1,1,1,0.25), 0px 6px 7px rgba(1,1,1,0.8);
    color: #00628B;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#about .skills {
  position: relative;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
#about .skills::after {
  clear: both;
  content: "";
  display: block;
}
#about .skills h2 {
  background-color: #2FC5CC;
  display: inline-block;
  padding: 0 0.9375rem;
}
#about .skills ul {
    text-align: center;
    margin-left: -153px;
    margin-top: 30px;
}
#about .skills ul li {
  position: relative;
    margin-left: 10px;
  display: inline-block;
  width: 15.625rem;
  margin-bottom: 25.6px;
}
#about .skills ul li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 559px) {
  #about .skills ul li {
    display: block;
    width: auto;
  }
}
#about .skills ul li .lvl-1 {
  position: relative;
  margin: 25.6px auto 0 auto;
}
#about .skills ul li .lvl-1 li {
  position: relative;
  display: inline-block;
  width: 15rem;
  font-family: calibri;
  background-color: #0e393b;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}
#about .skills ul li .lvl-1 li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 559px) {
  #about .skills ul li .lvl-1 li {
    display: block;
    width: auto;
  }
}
#about .skills ul li .lvl-1 li span {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;

  overflow: hidden;
  font-size: 1px;
 
}
#about .skills ul li .lvl-1 li u {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #F4F7F7;
}

#contact {
  background-image: url(//i.imgsafe.org/t/86c1376.jpg);
  background-size: cover;
  text-align: center;
  z-index: 96;
}
#contact .title {
  position: relative;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  margin-bottom: 25.6px;
}
#contact .title::after {
  clear: both;
  content: "";
  display: block;
}
@media screen and (max-height: 719px) {
  #contact .title {
    margin-top: 0;
  }
}
#contact .title h2 {
  background-color: #2FC5CC;
  display: inline-block;
  padding: 0 0.9375rem;
}
#contact .form-container {
  position: relative;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
#contact .form-container::after {
  clear: both;
  content: "";
  display: block;
}
#contact .form-container .form-group {
  margin-bottom: 25.6px;
}
#contact .form-container .form-group:last-of-type {
  margin-bottom: 0;
}

.img_nationality{
    width: 6vw;
    height: auto;
}

.tbl_mobile{
    display:none;
}

h8{
    display: none;
}










#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
    width: 47%;
	display: none;
    margin-left: 0vw;
    margin-top: 0%;
    float: left;
    padding-top: 0px;
}

#form-div {
	background-color:#dddddd;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-left: -260px;
}

.feedback-input {
    opacity: 0.9;
    color: #0493bd;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    border-radius: 0;
    line-height: 1vw;
    background-color: #fbfbfb;
    border: 0.2vw solid #3e4441;
    padding: 1vw 1vw 1vw 1vw;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 2vw auto;
        border-radius: 5px;
        font-family: calibri;
	background-position: 1vw 0.77vw;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 2vw auto;
        font-family: calibri;
        border-radius: 5px;
	background-position: 1vw 0.7vw;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 2vw auto;
        font-family: calibri;
        border-radius: 5px;
	background-position: 1vw 1vw;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 2vw auto;
        font-family: calibri;
        border-radius: 5px;
	background-position: 1vw 1vw;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 2vw auto;
        font-family: calibri;
        border-radius: 5px;
    height: 10vw;
	background-position: 1vw 0.6vw;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    float: left;
        border-radius: 4px;
    height: 6vw;
    width: 16vw;
    border: #4e5355  solid 0.4vw;
    cursor: pointer;
    background-color: #3e4441;
    color: white;
    font-size: 2vw;
    padding-top: 1.6vw;
    padding-bottom: 2vw;
    /* -webkit-transition: all 0.3s; */
    -moz-transition: all 0.3s;
    /* transition: all 0.3s; */
}

#button-blue:hover{
	background-color: #3498db;
	color: #3e4441;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;

}



@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
























@media only screen and  (min-width:150px) and (max-width: 1200px){

.Copyright{
        display: none;
    }


h2 {
    font-size: 8vw;
    font-family: Agency FB;
    text-align: center;
    /* margin-top: -10px; */
    color: #ffffff;
} 
.title {
    font-family: calibri;
    width: 100%;
    text-align: center;
    font-size: 10vw;
    height: auto;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 62, 88, 0.61), 0px 2px rgba(0, 62, 88, 0), 0px 3px rgba(0, 62, 88, 0), 0px 4px rgba(0, 62, 88, 0), 0px 5px rgba(6, 6, 6, 0), 0px 6px rgba(255, 255, 255, 0), 0px 6px 0px rgba(1,1,1,0.25), 0px 6px 7px rgba(1,1,1,0.8);
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
Body{
    background-color: #18768f;
    background-attachment: fixed;
    background-size: cover;
    width: 103%;
}
    
.Img_mobile{
    display: inline;
    width: 40vw;
    height: auto;
    margin-top: 13%;
    border-radius: 53%;     
} 
    
.Img_{
    display: none;
   
}
  
.imgbox :hover img{
	transform: scale(1) translateX(1px);
    
}
    
.Personal_infor h1{
    color: white;
}

.Personal_infor p{
    color: white;
    }
.tbl_main{    
    margin-left: 0%;

}
    
.tbl_mobile{
    display: table;
    margin-left: 0px;
}
.Personal_infor{
    width: 96.44vw;
    margin-left: 0%;
    border-radius: 9px;
    height: 145vw;
    background-color: rgba(0, 0, 0, 0.76)
}
.Personal_infor1{
    width: 96.5vw;
    height: 145vw;
    background-color: transparent;
}

.content{
    text-align: center;
    font-size: 4vw;
    width: 100%;
    margin-left:  0%;
    font-family: Century Gothic;
    color: #ffffff;
}
    
p {
    font-size: 5vw;
    font-family: Century Gothic;
    text-align: center;
    color: white;
}

    
h1 {
    text-align: center;
    margin-top: 0%;
    font-size: 9vw;
    font-family: Agency FB;
    color: #dba30e;
    text-shadow: none;
}
    
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

    
.img_nationality{
    width: 53vw;
    height: 40vw;
}
  
.main_td{
       display: none;
}  

table{
    background-color: transparent;
    height: 195vw;
}
img{
    width: 300px;
    height: 350px;
    vertical-align: middle;
}
td{
    vertical-align: top;
    background-color: transparent;
}

button{
    outline: none;
}

.img-circle{
    width: 23vw;
    margin-left: 38%;
    height: 22vw;
    border-radius: 72%;
    /* height: 350px; */
    vertical-align: middle;
}    
#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:30px;
}

#form-div {
	background-color:#3c3c3c;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-left: -260px;
}

.feedback-input {
	opacity:0.9;
	color:#0493bd;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #cccccc;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
    height: 50vw;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
    height: 100%;
	border: #cccccc solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}

.submit:hover {
	color: #3498db;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
    
    

    
}
